# Specific local files

# python and jupyter notebook files
**/.ipynb_checkpoints
**/.pytest_cache
**/.cache
**/__pycache__

# Mac stuff
**/._*

# Standard error output files
**/*.err

# excel files
**/*.xlsx
**/*.xl

# nc files
**/*.nc

# mac files
**/.DS_Store

# Backup files
**/*.bak

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out
**/*.app
